@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Questrial&display=swap');

/*--------------------------------------SIDE BAR-------------------------------------- */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: var(--font-color);
    letter-spacing: 1px;
    text-decoration: none;
    list-style: none;
}

:root{

    --primary-color: #29387C;
    --secondary-color: #4B60BD;
    --accent-color: #FEF200;
    --base-color: #002768;
    --background-color: rgba(134, 144, 233, 0.15);
    --shadow: 0px 2px 10px -2px rgba(0, 4, 255, 0.070);
    --shadow2: 0px 10px 15px -3px rgba(0, 4, 255, 0.070);
    --active-background: rgba(134, 144, 233, 0.05);
    --active: rgb(0, 81, 255);

    --font-size: 1rem;
    --font-color: #333333;
    --gap: 20px;

    --radius: 2rem;
    --border: 2px solid rgba(134, 144, 233, 0.25);

    --transition: 0.3s ease;
}

p{
    font-size: var(--font-size);
    color: var(--font-color)S;
}

.material-symbols-rounded{
    color: var(--font-color);
}

body{
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--gap);
    width: 100%;
    height: 100vh;
    background: var(--background-color);
}

/* Navigational Bar */

.sidebar{
    background: white;
    width: 330px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: var(--shadow2);
    /* justify-content: space-between; */
}

/* Logo */
.sidebar .logo{
    width: 275px;
    
}

/* User Profile*/
.sidebar .user{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.sidebar .user .profile-pic{
    width: 130px;
    border-radius: 100px;
    padding: 3px;
    border: 5px solid var(--active)
}

.sidebar .user h2{
    font-weight: 600;
    color: var(--font-color);
    font-family: 25px;
}

/* Controls */

/* .material-symbols-rounded {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
} */

.sidebar .controls{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: fit-content;

}

.controls a{
    color: rgb(68, 68, 68);
    position: relative;
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: start;
    font-weight: 400;
    gap: 20px;
    padding: 15px 0 15px 38px;
    border-left: 6px solid rgba(0, 0, 255, 0);
    border-radius: 5px;
    transition: var(--transition);
}
.controls a p{
    font-size: 15px;
}



.controls span{
    font-size: 25px;
    color: rgb(68, 68, 68);
    /* color: #6a6a6a; */
    font-weight: 400;
    transition: var(--transition);
}

.controls #count{
    position: absolute;
    right: 20px;
    background-color: rgb(255, 0, 119);
    padding: 0 2px;
    width: 10px;
    height: 10px;
    text-align: center;
    border-radius: 50%;
    letter-spacing: 0;
}

/* Active */
.controls .active{
    color: var(--active);
    font-weight: 600;
    background-color: var(--active-background);
    border-left: 6px solid var(--active);
    transition: var(--transition);
}

.controls .active-icon{
    color: var(--active);
    transition: var(--transition);

}

.controls a:hover :where(p, span){
    color: var(--active);

}




/* Main Content */
.container{
    background: white;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 15px 30px 30px;
    border-radius: 20px;
    box-shadow: var(--shadow2);
}

/* Head */
.head{
    display: flex;
    padding: 15px 30px 0 30px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: auto;
}
.head h1{
    font-weight: 600;
    color: var(--primary-color);
    font-size: 50px;
}
.head .head-control{
    display: flex;
    align-items: center;
    gap: 10px;
    width: fit-content;
    height: max-content;
}
.head-control .search{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: end;
}
.head-control .search input{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 40px 5px 15px;
    outline: none;
    border: none;
    background-color: white;
    border: var(--border);
    border-radius: 100px;
    height: 50px;
    width: 110px;
    transition: var(--transition);
}
.head-control .search span{
    position: absolute;
    right: 10px;
}
.head-control .search input:focus{
    width: 100%;
    border: 2px solid var(--secondary-color);
    box-shadow: var(--shadow2);
}


.head-control :where(label, a){
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 20px;
    outline: none;
    border: none;
    color: var(--primary-color);
    border-radius: 100px;
    gap: 8px;
    height: 50px;
    width: auto;
    background-color: var(--active-background);
    cursor: pointer;
    transition: var(--transition);
}
.head-control label span{
    color: var(--primary-color);
}

.head-control :where(label, a):hover{
    transform: scale(1.05);
    cursor: pointer;
    background-color: rgba(134, 144, 233, 0.2);
}

#date{
    border: var(--border);
    padding: 12px;
    border-radius: 50px;
    transition: var(--transition);
}
input[type="date"]:focus {
  border-color: blue; /* Blue border color when focused */
}


.head-control a :where(p, .material-symbols-rounded){
    color: var(--primary-color);
    transition: var(--transition);
}



#file-upload {
    display: none;
    }


/*--------------------------------------Carabaos-------------------------------------- */

.content{
    width: 100%;
    height: 100%;
    border: var(--border);
    border-radius: 20px;
    overflow: hidden;
    overflow-y: auto;
}

/* Table head */
.content .table-con{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 20px;
}
.table-con .table-con-head{
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    padding: 30px;
    width: 100%;
    height: fit-content;
    border-bottom: var(--border);
    background-color: white;
    justify-content: space-between;
    z-index: 999;
}

.table-con .table-con-head .table-name{
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
}

.table-con .table-con-head .highlight{
    color: var(--primary-color);
    font-weight: 600;
}
.table-con-head .table-head-cntrl{
    display: flex;
    align-items: center;
    gap: 15px;
}
.table-con-head .table-head-cntrl > button{
    border: none;
    background-color: var(--active-background);
    padding: 10px;
    border-radius: 30px;
    transition: var(--transition);
    cursor: pointer;
}
.table-con-head .table-head-cntrl > button :where(a,span){
    display: flex;
    color: var(--primary-color);
    font-weight: 500;
    gap: 5px;
    width: auto;
    transition: var(--transition);
}
.table-con-head .table-head-cntrl > button:hover{
    transform: scale(1.05);
    cursor: pointer;
    background-color: rgba(134, 144, 233, 0.2);
}



/* Table Content */
.table-content{
    position: relative;
    width: 100%;
    height: fit-content;
}
.table-content table{
    width: 100%;
    border-collapse: collapse;
}

.table-content table thead{
    position: sticky;
    top: 121px;
    text-align: center;
    background-color: white;
}

.table-content table thead tr th{
    padding: 20px 0;
    background-color: var(--active-background);
    color: var(--secondary-color);
}

.table-content table tbody{
    text-align: center;
}

.table-content table tbody tr td{
    padding-top: 20px;
}
.content::-webkit-scrollbar {
    background-color: #FEF200;
    display: none;
}

.table-content table thead tr :nth-child(1){
    width: 200px;
}
.table-content table thead tr :nth-child(2){
    width: 300px;
}
.table-content table thead tr :nth-child(3){
    width: 200px;
}
.table-content table thead tr :nth-child(4){
    width: 400px;
}
.table-content table thead tr :nth-child(5){
    width: 200px;
}
.table-content table thead tr :nth-child(6){
    width: 200px;
    
}
#status{
    background-color: hsla(137, 81%, 47%, 0.24);
    margin: auto;
    text-align: center;
    border-radius: 20px;
    width: 100px;
}

/*--------------------------------------Users-------------------------------------- */
.user-table-content{
    position: relative;
    width: 100%;
    height: fit-content;
}
.user-table-content table{
    width: 100%;
    border-collapse: collapse;
}

.user-table-content table thead{
    position: sticky;
    top: 121px;
    text-align: center;
    background-color: white;
}

.user-table-content table thead tr th{
    padding: 20px 0;
    background-color: var(--active-background);
    color: var(--secondary-color);
}

.user-table-content table tbody{
    text-align: center;
}

.user-table-content table tbody tr td{
    padding-top: 20px;
}
.content::-webkit-scrollbar {
    background-color: #FEF200;
    display: none;
}

.user-table-content table thead tr :nth-child(1){
    width: 200px;
}
.user-table-content table thead tr :nth-child(2){
    width: 300px;
}
.user-table-content table thead tr :nth-child(3){
    width: 200px;
}
.user-table-content table thead tr :nth-child(4){
    width: 400px;
}
.user-table-content table thead tr :nth-child(5){
    width: 200px; 
}
.user-table-content table thead tr :nth-child(6){
    width: 200px;
}

#user-status{
    background-color: hsla(137, 81%, 47%, 0.24);
    margin: auto;
    text-align: center;
    border-radius: 20px;
    width: 100px;
}

/*--------------------------------------Learning Materials-------------------------------------- */
.mats-content{
    position: relative;
    padding: 15px;
    width: 100%;
    height: 100%;
    gap: 30px;
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;
    overflow-x: hidden;
}


/* Cooperative Container */
.mats-content .mats-con{
    position: relative;
    flex: 1 0 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    min-width: 45%;
    max-width: 49%;
    max-height: 365px;
    height: auto;
    background-color: white;
    border-radius: 15px;
    border: var(--border);
    overflow: hidden;
    transition: var(--transition);
    cursor: pointer;
}
.mats-con:hover{
    transform: scale(1.03);
    box-shadow: var(--shadow2);
 }

.mats-content .mats-con img{
    width: 400px;
}

.mats-content .mats-con h2{
    font-weight: 600;
    font-size: 25px;
    transition: var(--transition);
}

.mats-con:hover h2{
   font-weight: 700;
   color: var(--primary-color);
}









/* ----------------------- Notifications ----------------------- */
.notification{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 30px;
    gap: 10px;
    /* background-color: var(--active-background); */
}

#filter{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 20px;
    outline: none;
    border: none;
    background-color: rgb(222, 222, 239);
    color: var(--font-color);
    border-radius: 100px;
    gap: 8px;
    height: 50px;
    width: auto;
    transition: var(--transition);
    
}

#filter span{
    color: var(--font-color);
}

.notification .notif{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: fit-content;
    gap: 20px;
    background-color: rgba(134, 144, 233, 0.1);
    padding: 20px;
    transition: var(--transition);
    border-radius: 20px;
}

.notification .notif .notif-details{
    display: flex;
    flex-direction: column;
    gap: 3px;
    width: 100%;
}

.notification .notif .notif-details p{
    text-align: left;
    width: 100%;
}
.notification .notif .notif-details h3{
    font-size: 25px;
    font-weight: 600;
}
.notification .notif .notif-details #time{
    font-size: 15px;
    color: gray;
}


.notification .notif #close{
    outline: none;
    border: none;
    width: auto;
    height: auto;
    background-color: #00266800;
    align-self: flex-start;
    cursor: pointer;
}

.notification .notif:hover{
    transform: scale(1.02);
    cursor: pointer;
    background-color: rgba(134, 144, 233, 0.3);
    box-shadow: var(--shadow2);
}
/* ------------------------- Add Carabao -------------------- */
.add-carabao{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow-x: hidden;
    overflow-y: auto;
    gap: 10px;
}
.add-carabao .add-user-form{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
    width: 100%;
    height: auto;
    
}
.add-carabao .add-user-form form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 40px;
    width: 100%;
    height: fit-content;
    padding: 30px;
    border-radius: 15px;
    box-shadow: var(--shadow2);
    border: var(--border);
}
.add-carabao .add-user-form form h1{
    font-size: 40px;
    font-weight: 600;
}
.add-user-form form > div{
    background-color: white;
    /* border-radius: 15px;
    padding: 20px; */
    display: flex;
    gap: 15px;
    flex-direction: column;
}

.add-carabao .add-user-form img{
    width: 700px;
    height: auto;
    mix-blend-mode: darken;
}

.add-user-form form :where(div input, select, textarea){
    width: 100%;
    outline: none;
    border: var(--border);
    padding: 9px 15px;
    font-size: 15px;
    border-radius: 10px;
    transition: .3s ease;
    color: var(--font-color);
}
.add-user-form form .basic-info-user > div{
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: space-between;
    
}
.add-user-form form > div h3{
    font-size: 20px;
    font-weight: 500;
}
.add-user-form form > div input:hover{
    border: 2px solid var(--secondary-color);
}
.add-user-form form > div input:focus, select:focus, textarea:focus{
    width: 100%;
    border: 2px solid var(--secondary-color);
    box-shadow: var(--shadow2)
}
.add-user-form form > button{
    background-color: #002768;
    outline: none;
    border: none;
    color: white;
    padding: 10px;
    width: 100%;
    height: auto;
    font-size: 15px;
    border-radius: 10px;
    transition: .3s ease;
}

.breed-weight{
    display: flex;
    align-items: center;
    gap: 15px;
}

/*----------------------- Upload Materials ---------------------------*/
.select-coop{
    display: flex;
    flex-wrap: wrap;
    background-color: var(--active-background);
    padding: 20px;
    border-radius: 15px;
}

.select-coop > div{
    flex: 1 0 50px;
    min-width: 150px;
    height: fit-content;
    display: flex;
    gap: 10px;
    align-items: center;
    text-align: left;
}


.select-coop .options label{
    font-size: 15px;
}

input[type="radio"]{
    width: 17px;
    height: 17px;
}
.pic{
    width: 200px;
}
.coop-area{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: start;

}
.coop-area h3{
    width: 100%;
}


input[type="radio"]:checked{
    accent-color: var(--primary-color);
}


.clear-upload > button{
    background-color: var(--base-color);
    outline: none;
    border: none;
    color: white;
    padding: 10px;
    width: 100%;
    height: auto;
    font-size: 15px;
    border-radius: 10px;
    transition: .3s ease;
}
.clear-upload > :nth-child(2){
    background-color: var(--background-color);
    color: var(--primary-color);
}


/*  ----------------------- File Container ----------------------- */


.file-con{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    align-items: start;
    gap: 30px;
    width: 100%;
    height: 100%;
    padding: 30px;
    overflow-x: hidden;
    overflow-y: auto;
}

.file-con .files{
    flex: 1 0 300px;
    max-width: 323px;
    display: flex;
    flex-direction: column;
    height: 348px;
    justify-content: center;
    background-color: rgba(134, 144, 233, 0.1);
    border-radius: 15px;
    overflow: hidden;
    padding: 30px;
    gap: 20px;
    transition: var(--transition);
    cursor: pointer;
}
.file-con .files img{
    width: 250px;
}
.file-con .files .file-details{
    display: flex;
    gap: 5px;
    flex-direction: column;
}

.file-con .files .file-details p{
    font-size: 16px;
    text-align: justify;
}
.file-con .files:hover{
    scale: 1.04;
    box-shadow: var(--shadow2);
    background-color: rgba(134, 144, 233, 0.3);
}

/*  ----------------------- Analytics ----------------------- */ 


.coop-summary{
    width: 100%;
    height: fit-content;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    padding: 30px 30px 0 30px;
}
.coop-body h1{
    font-weight: 600;
}

.coop-summary > div{
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    flex: 1 0 200px;
    max-height: 350px;
    padding: 30px;
    border-radius: 15px;
    gap: 20px;
    transition: 0.3s all ease;
}

.coop-summary div > img{
    height: 60px;
    width: fit-content;
}

.coop-summary div > h2{
    font-size: 30px;
    font-weight: 600;
    color: var(--active);
}
.coop-summary div p{
    font-size: 20px;
}
.coop-summary div p > .highlight{
    font-size: 25px;
    font-weight: 600;
}

.coop-summary div h2 small{
    font-size: 25px;
    font-weight: 400;
}




.analytics{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    overflow-x: hidden;
    overflow-y: auto;
}

.analytics .insights{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0 30px;
    gap: 30px;
}

.analytics .insights > div{
    flex: 1 0 200px;
    width: 100%;
    background-color: var(--active-background);
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 15px;
    transition: 0.3s all ease;
}
.analytics .insights > div.healthy{
    background-color: #e4fae6;
}
.analytics .insights > div.unhealthy{
    background-color: #fae0e0;
}
.analytics .insights > div.under-observation{
    background-color: #FFF2EC;
}

.analytics .insights > div .middle{
    display: flex;
    align-items: center;
    gap: 30px;
}

.analytics .insights .progress{
    position: relative;
    width: 92px;
    height: 92px;
    border-radius: 50%;
}

.analytics .insights svg{
    width: 92px;
    height: 92px;
}

.analytics .insights svg circle{
    fill: none;
    stroke: var(--primary-color);
    stroke-width: 7;
    stroke-linecap: round;
    stroke-dasharray: 120;
    stroke-dashoffset: 100;
    transform: translate(5px, 5px);
}

.analytics .insights .healthy svg circle{
    stroke: #55A55E;
    stroke-dashoffset: -30;
    stroke-dasharray: 200;
}

.analytics .insights .unhealthy svg circle{
    stroke: #D83B3B;
    stroke-dashoffset: 10;
    stroke-dasharray: 80;
}

.analytics .insights .under-observation svg circle{
    stroke: #9B715D;
    stroke-dashoffset: 35;
    stroke-dasharray: 110;
}

.analytics .insights .progress .number{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.analytics .insights > div .middle .right h2{
    line-height: 30px;
}
.analytics .insights > div .middle .right h3{
    font-weight: 400;
    font-size: 12px;
}


.analytics .insights .healthy .middle .right :where(h3, h2, span){
    color: #55A55E;

}
.analytics .insights .unhealthy .middle .right :where(h3, h2, span){
    color: #D83B3B;
}
.analytics .insights .under-observation .middle .right :where(h3, h2, span){
    color: #9B715D;
}

.analytics .insights > div:hover, .coop-summary > div:hover{
    transform: scale(1.03);
    box-shadow: var(--shadow2);
}


.breed-gender{
    display: flex;
    gap: 30px;
    flex-wrap: nowrap;
    width: 100%;
    height: 100%;
}
.breed-gender > div{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    padding: 30px;
}
.breed-gender > div .box{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.breed-gender > div .box div{
    background-color: var(--background-color);
    display: flex;
    align-items: center;
    padding: 10px 20px 10px 10px;
    border-radius: 50px;
    transition: var(--transition);
    justify-content: space-between;
}
.breed-gender > div .box div h3{
    font-weight: 600;
}
.breed-gender > div .box div p{
    font-weight: 500;
    font-size: 20px;
    color: var(--active);
}
.breed-gender .car-gender .box{
    height: 100%;
    gap: 30px;
}
.breed-gender .car-gender .box > div{
    padding: 0 80px;
    border-radius: 15px;
    width: 100%;
    height: 100%;
}
.breed-gender div h2{
    font-size: 25px;
    font-weight: 600;
    text-align: center;
}
.breed-gender > div .box div:hover{
    transform: scale(1.05);
    box-shadow: var(--shadow2);
}


.linegraph{
    width: 100%;
    height: 450px;
    padding: 30px;
}
.bar-donut{
    display: flex;
    align-items: center;
    gap: 30px;
    width: 100%;
    height: 450px;
    padding: 30px;
}

.bar-donut :where(.bar, .donut){
    width: 50%;
    height: 100%;
}



/* ----------------------- Aside -----------------------*/
aside{
    background: white;
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 20px;
    border-radius: 20px;
    justify-content: flex-start;
    box-shadow: var(--shadow2);
    
}

aside > div {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    overflow: hidden;
    overflow-y: auto;
}
aside > div .recUp-con {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    padding: 15px;
    overflow-y: auto;
}
aside > div .recUp-con .recUp{
    display: flex;
    align-items: flex-start;
    width: 100%;
    gap: 20px;
    padding: 10px;
}
aside > div .recUp-con .recUp img{
    width: 40px;
}
aside > div .recUp-con .recUp .recUp-details{
    text-align: left;
}
aside > div h2{
    font-weight: 600;
    font-size: 20px;
    text-align: center;
}
aside > div .recUp-con .recUp .recUp-details p{
    font-size: 12px;
    text-align: left;
}
aside > div .recUp-con .recUp .recUp-details p span{
    font-size: 12px;
    font-weight: 600;
}
aside > div .recUp-con .recUp .recUp-details small{
    font-size: 10px;
    text-align: left;
}

aside > div .recUp-con .top-carab{
    display: flex;
    align-items: center;
    width: 100%;
    height: fit-content;
    gap: 15px;
    padding: 20px 0;
    justify-content: space-between;
    
}
aside > div .recUp-con .top-carab h1{
    font-weight: 600;
    font-size: 20px;
}
.prod-milk-details{
    display: flex;
    align-items: center;
    width: 100%;
    height: fit-content;
    justify-content: space-between;
}
.prod-milk-details p{
    font-weight: 500;

}
.prod-milk-details .milk-quanti{
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
}
.prod-milk-details .milk-quanti :where(h4, span){
    font-weight: 500;
    color: var(--active);
}


::-webkit-scrollbar{
    width: 7px;
}

::-webkit-scrollbar-track{
    background-color: transparent;
}

::-webkit-scrollbar-thumb{
    background-color: rgba(134, 144, 233, 0.25);;
    border-radius: 50px;
    cursor: -webkit-grabbing;
    transition: var(--transition);
}
::-webkit-scrollbar-thumb:hover{
    background-color: rgba(134, 144, 233, 1);
}